extends layout

block content
    // Page header
    header.page-header.bg-img(style="background-image: url('https://www.nerdwallet.com/assets/blog/wp-content/uploads/2015/10/interns.jpg');")
        .container.page-name
            h1.text-center Browse resumes
            p.lead.text-center Use following search box to find resumes that fits your needs better
        .container
            form(action='#')
                .row
                    .form-group.col-xs-12.col-sm-4
                        input.form-control(placeholder='Keyword: job title, skills, or company', type='text')
                    .form-group.col-xs-12.col-sm-4
                        input.form-control(placeholder='Location: city, state or zip', type='text')
                    .form-group.col-xs-12.col-sm-4
                        .btn-group.bootstrap-select.show-tick.form-control
                            select.form-control.selectpicker(tabindex='-98')
                                option(selected='selected') All categories
                                option Developer
                                option Designer
                                option Customer service
                                option Finance
                                option Healthcare
                                option Sale
                                option Marketing
                                option Information technology
                                option Others
                    .form-group.col-xs-12.col-sm-4
                        h6 Contract
                        .checkall-group
                            .checkbox
                                input#contract1(name='contract', checked='checked', type='checkbox', value='on')
                                label(for='contract1') All types
                            .checkbox
                                input#contract2(name='contract', type='checkbox', value='on')
                                label(for='contract2')
                                    | Full-time
                                    small (354)
                            .checkbox
                                input#contract3(name='contract', type='checkbox', value='on')
                                label(for='contract3')
                                    | Part-time
                                    small (284)
                            .checkbox
                                input#contract4(name='contract', type='checkbox', value='on')
                                label(for='contract4')
                                    | Internship
                                    small (169)
                            .checkbox
                                input#contract5(name='contract', type='checkbox', value='on')
                                label(for='contract5')
                                    | Freelance
                                    small (480)
                    .form-group.col-xs-12.col-sm-4
                        h6 Hourly rate
                        .checkall-group
                            .checkbox
                                input#rate1(name='rate', checked='checked', type='checkbox', value='on')
                                label(for='rate1') All rates
                            .checkbox
                                input#rate2(name='rate', type='checkbox', value='on')
                                label(for='rate2')
                                    | $0 - $50
                                    small (364)
                            .checkbox
                                input#rate3(name='rate', type='checkbox', value='on')
                                label(for='rate3')
                                    | $50 - $100
                                    small (684)
                            .checkbox
                                input#rate4(name='rate', type='checkbox', value='on')
                                label(for='rate4')
                                    | $100 - $200
                                    small (195)
                            .checkbox
                                input#rate5(name='rate', type='checkbox', value='on')
                                label(for='rate5')
                                    | $200+
                                    small (39)
                    .form-group.col-xs-12.col-sm-4
                        h6 Academic degree
                        .checkall-group
                            .checkbox
                                input#degree1(name='degree', checked='checked', type='checkbox', value='on')
                                label(for='degree1') All degrees
                            .checkbox
                                input#degree2(name='degree', type='checkbox', value='on')
                                label(for='degree2')
                                    | Associate degree
                                    small (216)
                            .checkbox
                                input#degree3(name='degree', type='checkbox', value='on')
                                label(for='degree3')
                                    | Bachelor's degree
                                    small (569)
                            .checkbox
                                input#degree4(name='degree', type='checkbox', value='on')
                                label(for='degree4')
                                    | Master's degree
                                    small (439)
                            .checkbox
                                input#degree5(name='degree', type='checkbox', value='on')
                                label(for='degree5')
                                    | Doctoral degree
                                    small (84)
                .button-group
                    .action-buttons
                        button.btn.btn-primary Apply filter
    // END Page header
    // Main container
    main
        section.no-padding-top.bg-alt
            .container
                .row
                    .col-xs-12
                        br
                        h5
                            | We found 
                            strong #{results.length}
                            |  matches
                    // Job item
                
                #results
                    
                    // END Job item
                // Page navigation
                nav.text-center
                    ul.pagination
                        li
                            a(href='#', aria-label='Previous')
                                i.fa.fa-angle-left
                        li.active
                            a(href='#') 1
                        li
                            a(href='#', aria-label='Next')
                                i.fa.fa-angle-right
                // END Page navigation
    // END Main container

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script.
        var results = !{JSON.stringify(results)};
        var html = "";
        results.forEach(function(student) {
            html += `<div class="col-xs-12">
                <a class="item-block" href="/details">
                <header>
                    <img alt="" src="assets/logo-google.jpg">
                    <div class="hgroup">
                        <h4>` + student.StudentID + `</h4>
                        <h5>Google<span class="label label-success">Full-time</span></h5>
                    </div><time datetime="2016-03-10 20:00">34 min ago</time>
                </header>
                <div class="item-body">
                    <p>` + student.Experience + `</p>
                </div>
                <footer>
                    <ul class="details cols-3">
                        <li><i class="fa fa-map-marker"></i><span>` + student.Location + `</span></li>
                        <li><i class="fa fa-money"></i><!--<span>$90,000 - $110,000 / year</span>--></li>
                        <li><i class="fa fa-certificate"></i><span>` + student.Education + `</span></li>
                    </ul>
                </footer></a>
            </div>`;
        });

        $('#results').append(html);