extends layout

block style
    style.
        #sefound {
        margin-top: -20px !important;
        padding: 0px !important;
        width: 100%;
        }

        #skill-me {
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        }

        #search-result {
        margin-top: -140px !important;
        }

        #classop {
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        }

        #felements {
        margin: 0px !important;
        padding: 0px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        }

        #avail_box {
        margin: 0px !important;
        padding: 0px !important;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        }

        #avail_box .checkbox {
        margin: 0px !important;
        padding: 20px !important;
        }

block content
    // Page header
    header.page-header.bg-img(style="background-image: url('https://www.nerdwallet.com/assets/blog/wp-content/uploads/2015/10/interns.jpg');")
        .container.page-name
            h1.text-center Browse resumes
            p.lead.text-center Use following search box to find resumes that fits your needs better
        .container
            form(action='#')
                .row
                    .form-group.col-xs-12.col-sm-4
                        input.form-control(placeholder='Keyword: job title, skills, or company', type='text')
                    .form-group.col-xs-12.col-sm-4
                        input.form-control(placeholder='Location: city, state or zip', type='text')
                    .form-group.col-xs-12.col-sm-4
                        .btn-group.bootstrap-select.show-tick.form-control
                            select.form-control.selectpicker(tabindex='-98')
                                option(selected='selected') All categories
                                option Developer
                                option Designer
                                option Customer service
                                option Finance
                                option Healthcare
                                option Sale
                                option Marketing
                                option Information technology
                                option Others
                    .form-group.col-xs-12.col-sm-2
                        h6 Contract
                        .checkall-group
                            .checkbox
                                input#Paid(name='Paid', type='checkbox', value='on')
                                label(for='Paid')
                                    | Paid
                                    small (354)
                            .checkbox
                                input#un(name='un', type='checkbox', value='on')
                                label(for='un')
                                    | Un-Paid
                                    small (284)
                            .checkbox
                                input#Both(name='Both', checked="checked", type='checkbox', value='on')
                                label(for='Both')
                                    | Both
                                    small (169)
                    .form-group.col-xs-12.col-sm-10
                        h6 Availability
                        #avail_box.checkall-group
                            .checkbox
                                input#monday(name='monday', type='checkbox', value='on')
                                label(for='monday')
                                    | Monday
                                    small (364)
                            .checkbox
                                input#tuesday(name='tuesday', type='checkbox', value='on')
                                label(for='tuesday')
                                    | Tuesday
                                    small (684)
                            .checkbox
                                input#Wednesday(name='Wednesday', type='checkbox', value='on')
                                label(for='Wednesday')
                                    | Wednesday
                                    small (195)
                            .checkbox
                                input#Thursday(name='Thursday', type='checkbox', value='on')
                                label(for='Thursday')
                                    | Thursday
                                    small (39)
                            .checkbox
                                input#Friday(name='Friday', type='checkbox', value='on')
                                label(for='Friday')
                                    | Friday
                                    small (39)
                            .checkbox
                                input#Saturday(name='Saturday', type='checkbox', value='on')
                                label(for='Saturday')
                                    | Saturday
                                    small (39)
                            .checkbox
                                input#Sunday(name='Sunday', type='checkbox', value='on')
                                label(for='Sunday')
                                    | Sunday
                                    small (39)
                .button-group
                    .action-buttons
                        button.btn.btn-primary Apply filter
    // END Page header
    // Main container
    main
        section.no-padding-top.bg-alt
            .container
                .row
                    .col-xs-12
                        br
                        h5
                            | We found 
                            strong #{results.length}
                            |  matches
                    // Job item
                
                #results
                    
                    // END Job item
                // Page navigation
                nav.text-center
                    ul.pagination
                        li
                            a(href='#', aria-label='Previous')
                                i.fa.fa-angle-left
                        li.active
                            a(href='#') 1
                        li
                            a(href='#', aria-label='Next')
                                i.fa.fa-angle-right
                // END Page navigation
    // END Main container

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script.
        var results = !{JSON.stringify(results)};
        var html = "";
        results.forEach(function(student) {
            var availability = student.Availability.split(',').reduce((a, b) => { return Number(a) + Number(b) });
            html += `<div class="col-xs-12">
                <a class="item-block" href="/details">
                <header>
                    <div class="hgroup">
                        <h4>` + student.Name + `</h4>
                        <h5>` + student.Education + `<span class="label label-success">Full-time</span></h5>
                </header>
                <div class="item-body">
                    <p>` + student.Experience + `</p>
                </div>
                <footer>
                    <ul class="details cols-3">
                        <li><i class="fa fa-map-marker"></i><span>` + student.Location + `</span></li>
                        <li><i class="fa fa-money"></i> Paid<!--<span>$90,000 - $110,000 / year</span>--></li>
                        <li><i class="fa fa-certificate"></i><span>Available ` + availability + ` days</span></li>
                    </ul>
                </footer></a>
            </div>`;
        });

        $('#results').append(html);